<h2>Add new post</h2>
<%= form_for :post, url: posts_path do |f| %>

<p>
  Tilte <br>
  <%= f.text_field :title %>
</p>

<p>
  Text of post <br>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
